1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040C04B0"
    BEGIN
      VALUE "FileDescription", "DOA5LR-JoinFix - correctifs de jonction des salons"
      VALUE "FileVersion", "0.2"
      VALUE "ProductName", "DOA5LR-Salons tools"
      VALUE "OriginalFilename", "DOA5LR-JoinFix.asi"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x040C, 1200
  END
END
