#include <windows.h>
1 VERSIONINFO
FILEVERSION     0,13,2,0
PRODUCTVERSION  0,3,3,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "FGCsnow - DOA5LR community"
      VALUE "FileDescription",  "DOA5LR-Salons: 60 fps menus, intros, win poses and story cutscenes"
      VALUE "FileVersion",      "0.13c"
      VALUE "InternalName",     "DOA5LR-60fps-menus"
      VALUE "LegalCopyright",   "Open source, part of the DOA5LR-Salons community pack"
      VALUE "OriginalFilename", "DOA5LR-60fps-menus.asi"
      VALUE "ProductName",      "DOA5LR-Salons Community Lobby Mods"
      VALUE "ProductVersion",   "0.3.3"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
